<h1>Log In</h1>
<div class="login_with_openid">
  <%= link_to "Or use OpenID Instead", open_id_path %>
</div>

<% form_tag session_path do -%>
  <p><%= label_tag 'login' %><br />
  <%= text_field_tag 'login', @login %></p>

  <p><%= label_tag 'password' %><br/>
  <%= password_field_tag 'password', nil %></p>

  <p class="submit"><%= submit_tag 'Log in' %></p>
<% end -%>
