<% content_for :head do %>
    <!-- BEGIN ID SELECTOR -->
    <script type="text/javascript" id="__openidselector" src="https://www.idselector.com/selector/8e38352d8d3f44715de97796b29e34015b912b66" charset="utf-8"></script>
    <!-- END ID SELECTOR -->
<% end %>

<h1>Log In Using OpenID</h1>

<% form_tag session_path do -%>
  <p><%= label_tag :openid_url, 'OpenID URL:' %><br />
    <%= text_field_tag :openid_url, nil, :id => 'openid_identier', :style => 'width:260px;'  %> </p>

  <p><%= check_box_tag 'remember_me', '1', @remember_me %>
  <%= label_tag 'remember_me', 'Remember me' %></p>

  <p class="submit"><%= submit_tag 'Log in' %></p>
<% end -%>
